<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--选择游戏，值可以填2048或者2584，默认值为2048-->
    <add key="game" value="2048"/>
    
    <!--ai所在服务器的ipv4地址，点分十进制格式，比如127.0.0.1-->
    <add key="ai_server_ip" value=""/>
    <add key="ai_server_port" value=""/>
  </appSettings>
</configuration>